#header {
    background-color: #7F0FFF;
    font-family: "Ubuntu";
    font-size: 14px;
}

#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
    color: white;
}

#navbar-img {
    margin-right: 20px;
}

#content {
    color: blue;
}

div.breadcrumbs {
    background-color: #7100f3;
}

.module h2,
.module caption {
    background-color: #7100f3;
    margin: 1rem 0 1rem;
}

#tabela_resumo,
#denuncias,
#relatorio {
    margin: 1rem;
    color: black;
}

@media screen and (max-width: 843px) {
    #tabela_resumo,
    #denuncias,
    #relatorio {
        width: 100%;
    }
}

@media screen and (min-width: 844px) {
    #tabela_resumo,
    #denuncias,
    #relatorio {
        width: 80%;
    }
}

input#download_button {
    background-color: #7100f3;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0 auto;
}

input#download_button:hover {
    background-color: #a15aec;
    color: black;
}

.bar-chart {
    display: flex;
    justify-content: space-around;
    height: 160px;
    padding-top: 60px;
    overflow: hidden;
}

.bar-chart .bar {
    flex: 100%;
    align-self: flex-end;
    margin-right: 2px;
    position: relative;
}

.bar {
    background-color: #2A0554;
    opacity: 0.6;
}

.bar-chart .bar:last-child {
    margin: 0;
}

.bar-chart .bar:hover {
    background-color: #2A0554;
}

.bar-chart .bar .bar-tooltip {
    position: relative;
    z-index: 999;
}

.bar-chart .bar .bar-tooltip {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    opacity: 0;
}

.bar-chart .bar:hover .bar-tooltip {
    opacity: 1;
}

.bar:hover {
    opacity: 1;
}