{% extends "admin/change_list.html" %} {% load humanize %} {% block content_title %}
<h1> Resumo de denuncias identificadas </h1>
{% endblock %}{% block result_list %}
<div class='container'>
    <div class=”results”>
        <div id='tabela_resumo'>
            <h2 class='module'>Resumo</h2>
            <table>
                <thead>
                    <tr>
                        <th>
                            <div class=”text”>
                                <a href=”#”> Data </a>
                            </div>
                        </th>
                        <th>
                            <div class=”text”>
                                <a href=”#”>Total</a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in summary %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td> {{ row.identified_created }} </td>
                        <td> {{ row.total_genero }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                    <td> Total </td>
                    <td> {{ summary_total.total_genero | intcomma }} </td>
                </tr>
            </table>
        </div>
        <div id="denuncias">
            <h2> Denúncias </h2>
            <style>
                .bar-chart {
                    display: flex;
                    justify-content: space-around;
                    height: 160px;
                    padding-top: 60px;
                    overflow: hidden;
                }
                
                .bar-chart .bar {
                    flex: 100%;
                    align-self: flex-end;
                    margin-right: 2px;
                    position: relative;
                    background-color: #79aec8;
                }
                
                .bar-chart .bar:last-child {
                    margin: 0;
                }
                
                .bar-chart .bar:hover {
                    background-color: #417690;
                }
                
                .bar-chart .bar .bar-tooltip {
                    position: relative;
                    z-index: 999;
                }
                
                .bar-chart .bar .bar-tooltip {
                    position: absolute;
                    top: -60px;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    font-weight: bold;
                    opacity: 0;
                }
                
                .bar-chart .bar:hover .bar-tooltip {
                    opacity: 1;
                }
            </style>
            <div class="results ">
                <div class="bar-chart ">
                    {% for x in summary_over_time %}
                    <div class="bar " style="height:{{x.pct}}% ">
                        <div class="bar-tooltip ">
                            {{x.total | default:0 | intcomma }}<br> {{x.period | date:"d/m/Y "}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <h1> {{ identified_form.identified_position }}</h1>
        </div>
    </div>
    <section id='relatorio'>
        <h2 class="module">Relatórios</h2>
        <p>Clique no botão abaixo para baixar um arquivo .csv de todos dados de queixas identificadas cuja escolha é fixa </p>
        <input type="button" id="download_button" onclick="location.href='{% url 'savs_app:csv_download_identified' %}';" value="Baixar .csv" />
    </section>

</div>
{% endblock %} {% block pagination %}{% endblock %}