{% extends "./base.html" %} {% block content %}
<!-- Conceitos fundamentais-->
<section class="white-section" id="conceitos">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Conceitos fundamentais</h5>
            <div class="card-body">
                <p class="card-text">
                    De acordo com a Política da Unicamp,<b> discriminação baseada em gênero e/ou sexualidade</b> é qualquer situação que configure a exclusão de um indivíduo de participação ou de benefícios relacionados aos estudos ou ao trabalho na Unicamp
                    com base no seu sexo, orientação sexual ou na sua identidade ou expressão de gênero.
                </p>
                <p>
                    *colocar outros conceitos como gênero, identidade/expressão de gênero, diversidade sexual, orientação sexual, etc.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Política de Combate-->
<section class="white-section" id="política_de_Combate">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Política de Combate à Discriminação baseada em Gênero e/ou Sexualidade</h5>
            <div class="card-body">
                <p class="card-text">A Unicamp, empenhada em garantir a cada membro da universidade condições de estudar e trabalhar em um campus livre de discriminação baseada em gênero e/ou sexualidade está implementando uma Política de Combate à Violência Sexual.
                </p>
                <p>*Apresentar a política, diretrizes, frentes de ação.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Relatórios-->
<section class="white-section" id ="relatorios"> 
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Relatórios</h5>
            <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}