{% extends "./base.html" %} {% block content %}
<!-- Conceitos fundamentais-->
<section id="conceitos">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Conceitos fundamentais</h5>
            <div class="card-body">
                <p class="card-text">
                    De acordo com a Política da Unicamp,<b> discriminação baseada em gênero e/ou sexualidade</b> é qualquer situação que configure a exclusão de um indivíduo de participação ou de benefícios relacionados aos estudos ou ao trabalho na Unicamp
                    com base no seu sexo, orientação sexual ou na sua identidade ou expressão de gênero.
                </p>
                <p>
                    *colocar outros conceitos como gênero, identidade/expressão de gênero, diversidade sexual, orientação sexual, etc.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Política de Combate-->
<section id="política_de_Combate">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Política de Combate à Discriminação baseada em Gênero e/ou Sexualidade</h5>
            <div class="card-body">
                <p class="card-text">A Unicamp, empenhada em garantir a cada membro da universidade condições de estudar e trabalhar em um campus livre de discriminação baseada em gênero e/ou sexualidade está implementando uma Política de Combate à Violência Sexual.
                </p>
                <p>*Apresentar a política, diretrizes, frentes de ação.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Relatórios-->
<section id ="relatorios"> 
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Relatórios</h5>
            <div class="card-body">
                <p class="card-text">Em breve.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}