{% extends "./base.html" %}

{% block content %}
<!-- Eventos-->
<section id="eventos">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Eventos</h5>
            <div class="card-body">
                <p class="card-text">Criada em 3 de abril de 2019 (Resolução GR-17/2019), a Comissão Assessora da
                    Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à
                    Violência Sexual tem como objetivo, disponibilizar apoio contínuo aos membros da Unicamp, incluindo
                    informações e acolhimento no que se refere às questões relacionadas à
                    Discriminação Baseada em Gênero e Sexualidade e a Violência Sexual.</p>

                <p>Competências<br>
                <ol type="I">
                    <li>Propor uma Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência
                        Sexual a ser aprovada pela Universidade</li>
                    <li>Realizar a coordenação geral da Política de Combate à Discriminação Baseada em Gênero e/ou
                        Sexualidade e à Violência Sexual</li>
                    <li>Coordenar e supervisionar as ações do Serviço de Atenção à Violência Sexual na Universidade
                        Estadual de Campinas</li>
                    <li>Conceber, promover e coordenar o oferecimento de ações educativas e de treinamento a membros da
                        Universidade tendo em vista o Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à
                        Violência Sexual</li>
                    <li>Promover a realização de estudos periódicos sobre a ocorrência de episódios de Discriminação
                        Baseada em Gênero e/ou Sexualidade e Violência Sexual que envolvam membros da Unicamp</li>
                    <li>Propor regras e procedimentos para a prevenção e acolhimento de queixas de Discriminação
                        Relacionada a Gênero e/ou Sexualidade, a serem aprovadas por Resolução GR</li>
                </ol>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Treinamentos-->
<section id="treinamentos">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Treinamentos</h5>
            <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including
                    versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</section>

<!-- Notícias-->
<section id="noticias">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Notícias</h5>
            <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including
                    versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</section>

<!-- Receber Informações-->
<section id="informacoes">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Receber Informações</h5>
            <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including
                    versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}