{% extends "./base.html" %}

{% block content %}
<!-- Eventos-->
<section id="eventos">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Eventos</h5>
            <div class="card-body">
                <p>Em breve</p>
            </div>
        </div>
    </div>
</section>

<!-- Treinamentos-->
<section id="treinamentos">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Treinamentos</h5>
            <div class="card-body">
                <p>Em breve</p>
            </div>
        </div>
    </div>
</section>

<!-- Notícias-->
<section id="noticias">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Notícias</h5>
            <div class="card-body">
                <p>Em breve</p>
            </div>
        </div>
    </div>
</section>

<!-- Receber Informações-->
<section id="informacoes">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Receber Informações</h5>
            <div class="card-body">
                <p class="card-text">Se você deseja receber informações sobre a Comissão Assessora da Política de Combate à Violência Sexual e à Discriminação baseada em Gênero e/ou Sexualidade e sobre o SAVS, faça o seu cadastro aqui. </p>
                <p>Em breve</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}