{% extends "./base.html" %} {% load static %}  {% block content %}

<img class="center_img" src="{% static 'images/logo_savs.png' %}" alt="">


<!-- O que é o SAVS? -->
<section id="o_que_e">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">O que é o SAVS?</h5>
            <div class="card-body">
                <p class="card-text">Criada em 3 de abril de 2019 (Resolução GR-17/2019), a Comissão Assessora da
                    Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência Sexual tem como
                    objetivo, disponibilizar apoio contínuo aos membros da Unicamp,
                    incluindo informações e acolhimento no que se refere às questões relacionadas à Discriminação
                    Baseada em Gênero e Sexualidade e a Violência Sexual.</p>

                <p>Competências<br>
                <ol type="I">
                    <li>Propor uma Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência
                        Sexual a ser aprovada pela Universidade</li>
                    <li>Realizar a coordenação geral da Política de Combate à Discriminação Baseada em Gênero e/ou
                        Sexualidade e à Violência Sexual</li>
                    <li>Coordenar e supervisionar as ações do Serviço de Atenção à Violência Sexual na Universidade
                        Estadual de Campinas</li>
                    <li>Conceber, promover e coordenar o oferecimento de ações educativas e de treinamento a membros da
                        Universidade tendo em vista o Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à
                        Violência Sexual</li>
                    <li>Promover a realização de estudos periódicos sobre a ocorrência de episódios de Discriminação
                        Baseada em Gênero e/ou Sexualidade e Violência Sexual que envolvam membros da Unicamp</li>
                    <li>Propor regras e procedimentos para a prevenção e acolhimento de queixas de Discriminação
                        Relacionada a Gênero e/ou Sexualidade, a serem aprovadas por Resolução GR</li>
                </ol>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Protocolo de Recebimento de Queixas -->
<section id="protocolo">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Protocolo de Recebimento de Queixas</h5>
            <div class="card-body">
                <p class="card-text">Membros da universidade que se viram envolvidos(as) em um episódio de violência
                    sexual ou de discriminação baseada em gênero e/ou sexualidade podem apresentar uma queixa à
                    universidade através do SAVS. O SAVS também poderá oferecer apoio,
                    orientações e acomodações que se fizerem necessárias, com vistas a garantir condições adequadas para
                    a continuidade de suas atividades acadêmicas e/ou de trabalho na Unicamp.</p>
                <ul>
                    <li>
                        Se você se viu envolvida(o) em um episódio na posição de vítima
                    </li>
                    <li>
                        Se você foi indicado(a) como autor(a) em um episódio
                    </li>
                    <li>
                        Se você testemunhou ou recebeu um relato de um episódio
                    </li>
                </ul>
                <p> Conheça as suas opções:
                </p>
                <ol>
                    <li>
                        <b>Queixa Identificada</b></br>
                        <p>
                            Você pode utilizar esta modalidade de queixa se deseja comunicar à universidade o que
                            aconteceu e receber apoio e orientações do SAVS para lidar com este episódio. Criamos esta
                            ferramenta porque, para muitas pessoas, relatar um episódio por escrito, pode
                            parecer mais confortável do que recontar esta história verbalmente à alguém ou a um
                            profissional do SAVS.</p>
                        <p><i>O que vai acontecer depois que eu enviar a minha queixa identificada? </i></p>
                        <p>A sua queixa será recebida por um do SAVS, que entrará em contato com você para agendar um
                            atendimento, onde serão oferecidas orientações e formas de apoio que sejam mais adequadas à
                            situação que você apresenta. Todo esse processo
                            será feito de forma sigilosa, ou seja, sem qualquer forma de exposição à sua identidade ou
                            ao conteúdo que você relatou.

                        </p>
                    </li>
                    <li>
                        <b>Queixa Anônima</b></br>
                        <p>
                            Você pode utilizar esta modalidade de queixa se deseja comunicar à universidade o que
                            aconteceu, sem se identificar. Criamos esta ferramenta porque, para muitas pessoas, essa
                            pode ser a forma mais confortável de apresentar uma queixa à universidade.</p>
                        <p><i>
                                O que vai acontecer depois que eu enviar uma queixa anônima?
                            </i></p>
                        <p> A sua queixa será recebida por um profissional do SAVS e será mantida em sigilo em uma base
                            de dados. Estes dados vão contribuir para orientar as ações preventivas da Política de
                            Combate à Violência Sexual e à Discriminação baseada
                            em Gênero e/ou Sexulidade da Unicamp, evitando que outros episódios como o que você
                            vivenciou, aconteçam. Se você deseja receber apoio e orientações ou tem a expectativa de que
                            seu caso seja apurado pela pela universidade e
                            que a pessoa indicada como autor(a) da violência ou discriminação seja penalizada, esta pode
                            não ser a modalidade mais indicada para você. Recomendamos que volte ao menu anterior e
                            conheça suas opçõe

                        </p>
                    </li>
                    <li>
                        <b>Falar com um profissional do SAVS</b></br>
                        <p> Esta pode ser uma opção interessante, se você deseja obter orientações antes de reportar a
                            sua queixa. Criamos este canal porque, para muitas pessoas, falar com alguém pode ser mais
                            confortável do que escrever sobre um episódio.
                            Para falar com um profissional do SAVS basta enviar um e-mail com o assunto “agendamento”
                            para o endereço savs@unicamp.br, que entraremos em contato com você para agendarmos um
                            horário.
                        </p>
                    </li>
                    <li>
                        <b> Denúncia no âmbito da universidade</b></br>
                        <p>Após apresentar uma queixa identificada ao SAVS, receber apoio e orientações adequados, você
                            poderá, se assim desejar, realizar uma denúncia. </br>A denúncia consiste na abertura de um
                            processo administrativo disciplinar pela universidade,
                            para apuração do episódio de violência sexual ou de discriminação baseada em gênero e
                            sexualidade, podendo levar à penalização da pessoa denunciada.</br> A denúncia é facultativa
                            e poderá ser realizada apenas por pessoas envolvidas
                            diretamente no episódio, ou seja, a pessoa que figura na posição de vítima ou uma pessoa que
                            foi indicada como autor(a) de um episódio.
                        </p>
                    </li>
                    <li>
                        <b>Denúncia em instâncias externas à universidade</b></br>
                        <p>De acordo com a protocolo da Política de Combate à Violência Sexual da Unicamp, ao apresentar
                            uma queixa de um episódio de Violência Sexual à universidade, você não estará impedido(a) de
                            prestar queixa desse mesmo à Polícia, se
                            assim desejar. Da mesma forma, se você já denunciou um episódio à Polícia, isso não impede
                            que você apresente uma queixa desse mesmo episódio à universidade.</p>
                        <p>
                            Você pode escolher prestar queixa a uma ou a outra instância, a nenhuma instância ou a ambas
                            as instâncias.
                        </p>
                        <p>
                            Se ainda tem dúvidas sobre os procedimentos apresentar queixa, consulte nosso portfólio de
                            Perguntas Frequentes ou ainda, considere a opção 3 Falar com um profissional do SAVS.
                        </p>

                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Perguntas Frequentes-->
<section id="perguntas">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Perguntas Frequentes</h5>
            <div class="card-body">
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                    a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}