{% extends "./base.html" %} {% load static %} {% block content %}

<!-- Missão-->
<section id="missao">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Missão</h5>
            <div class="card-body">
                <p class="card-text">Criada em 3 de abril de 2019 (Resolução GR-17/2019), a Comissão Assessora da Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência Sexual tem como objetivo, disponibilizar apoio contínuo aos membros da Unicamp,
                    incluindo informações e acolhimento no que se refere às questões relacionadas à Discriminação Baseada em Gênero e Sexualidade e a Violência Sexual.</p>

                <p>Competências<br>
                    <ol type="I">
                        <li>Propor uma Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência Sexual a ser aprovada pela Universidade</li>
                        <li>Realizar a coordenação geral da Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência Sexual</li>
                        <li>Coordenar e supervisionar as ações do Serviço de Atenção à Violência Sexual na Universidade Estadual de Campinas</li>
                        <li>Conceber, promover e coordenar o oferecimento de ações educativas e de treinamento a membros da Universidade tendo em vista o Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência Sexual</li>
                        <li>Promover a realização de estudos periódicos sobre a ocorrência de episódios de Discriminação Baseada em Gênero e/ou Sexualidade e Violência Sexual que envolvam membros da Unicamp</li>
                        <li>Propor regras e procedimentos para a prevenção e acolhimento de queixas de Discriminação Relacionada a Gênero e/ou Sexualidade, a serem aprovadas por Resolução GR</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</section>


<!-- Missão-->
<section id="equipe">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Equipe</h5>


            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/foto_ana.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Coordenadora</h5>
                    <p>Ana Maria Fonseca Almeida</p>
                    <a href="http://lattes.cnpq.br/2452772438199184" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <hr>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Membro Titular</h5>
                    <p>Daniela Gatti | Instituto de Artes, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>

            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Membro Titular</h5>
                    <p>Renata Cruz Soares de Azevedo | Faculdade de Ciências Médicas, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Membro Titular</h5>
                    <p>Leandro Martinez | Instituto de Química, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Membro Titular</h5>
                    <p>Christiane Neme Campos | Instituto de Computação, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Membro Titular</h5>
                    <p>Camila Fraisoli | Colégio Técnico de Limeira</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Membro Titular</h5>
                    <p>Maria Augusta Pretti Ramalho | Ouvidoria, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Membro Titular</h5>
                    <p>Daniele Teodoro -| Diretoria Geral de Recursos Humanos, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Membro Titular</h5>
                    <p>Susana Soares Branco Durão | Secretaria de Vivência nos Campi, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Membro Titular</h5>
                    <p>Carolina Bonomi | Instituto de Filosofia e ciências Humanas, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <hr>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Suplente</h5>
                    <p>Verônica Fabrini Machado de Almeida | Instituto de Artes, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Suplente</h5>
                    <p>Josely Rimoli | Faculdade de Ciências Aplicadas, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Suplente</h5>
                    <p>Rickson Coelho Mesquita | Instituto de Física Gleb Wataghin, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Suplente</h5>
                    <p>Regina Facchini | Instituto de Filosofia e ciências Humanas, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Suplente</h5>
                    <p>José Vicente Hallak D`Angelo | Faculdade de Engenharia Química, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Suplente</h5>
                    <p>Teresa Helena Portela Freire de Carvalho | Colégio Técnico de Campinas, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>
            <div class="media">
                <img class="align-self-center mr-3  rounded-circle" src="{% static 'images/placeholder_photo.png' %}" width="75px" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Suplente</h5>
                    <p>Bruno Akira Watanabe -| Instituto de Física Gleb Wataghin, Unicamp</p>
                    <a href="http://lattes.cnpq.br/" target="blank">Currículo Lattes</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Histórico-->
<section id="historico">
    <div class="container-fluid ">
        <div class="card ">
            <h5 class="card-header ">Histórico</h5>
            <div class="card-body ">
                <p class="card-text ">Em Breve</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}