 {% extends "./base.html" %} {% load static %} {% block content %}
<h1>Quem Somos</h1>
<!-- Missão-->
<section class="white-section">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Missão</h5>
            <div class="card-body">
                <p class="card-text">Criada em 3 de abril de 2019 (Resolução GR-17/2019), a Comissão Assessora da Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência Sexual tem como objetivo, disponibilizar apoio contínuo aos membros da Unicamp,
                    incluindo informações e acolhimento no que se refere às questões relacionadas à Discriminação Baseada em Gênero e Sexualidade e a Violência Sexual.</p>

                <p>Competências<br>
                    <ol type="I">
                        <li>Propor uma Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência Sexual a ser aprovada pela Universidade</li>
                        <li>Realizar a coordenação geral da Política de Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência Sexual</li>
                        <li>Coordenar e supervisionar as ações do Serviço de Atenção à Violência Sexual na Universidade Estadual de Campinas</li>
                        <li>Conceber, promover e coordenar o oferecimento de ações educativas e de treinamento a membros da Universidade tendo em vista o Combate à Discriminação Baseada em Gênero e/ou Sexualidade e à Violência Sexual</li>
                        <li>Promover a realização de estudos periódicos sobre a ocorrência de episódios de Discriminação Baseada em Gênero e/ou Sexualidade e Violência Sexual que envolvam membros da Unicamp</li>
                        <li>Propor regras e procedimentos para a prevenção e acolhimento de queixas de Discriminação Relacionada a Gênero e/ou Sexualidade, a serem aprovadas por Resolução GR</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Equipe-->
<section class="white-section">
    <div class="container-fluid">
        <div class="card">
            <h3 class="card-header">Equipe</h3>
            <div class="card-body">
                <div class="container">
                    <h4>Coordenadora</h4>
                    <div class="media">
                        <div class="media-body">
                            Ana Maria Fonseca Almeida</br>
                            <a href="http://lattes.cnpq.br/2452772438199184">Currículo Lattes</a>
                        </div>
                    </div>
                    <div class="w-100">
                        <h4>Membros Titulares</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">

                            <div class="col-md-3 ">
                                <img src="{% static 'images/user.png' %}" class="user_img" alt="" height=70 width="70">
                            </div>

                            <div class="col-md-9 text-left">
                                Daniela Gatti</br>
                                Instituto de Artes, Unicamp</br>
                                <a href="#">Currículo Lattes</a>
                            </div>


                        </li>
                        <li class="list-group-item">Renata Cruz Soares de Azevedo</br>
                            Faculdade de Ciências Médicas, Unicamp</br>
                            <a href="#">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item">Leandro Martinex</br>
                            Instituto de Química, Unicamp</br>
                            <a href="#">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item">Christiane Neme Campos</br>
                            Instituto de Computação, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">Camila Fraisoli</br>
                            Colégio Técnico de Limeira</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            Maria Augusta Pretti Ramalho</br>
                            Ouvidouria, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">Dainele Teodoro</br>
                            Diretoria Geral de Recursos Humanos, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            Susana Soares Branco Durão </br>
                            Secretaria de ViVência nos Campi, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            Carolina Bonomi</br>
                            Instituto de Filosofia e Ciências Humanas, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                    </ul>
                    <div class="w-100 ">
                        <h4>Suplentes</h4>
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item ">
                            Verônica Fabrini Machado de Almeida</br>
                            Instituto de Artes, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            Josely Rimoli</br>
                            Faculdade de Ciências Aplicadas, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            Rickson Coelho Mesquita</br>
                            Instituto de Física Gleb Wataghin, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            Regina Facchini</br>
                            Instituto de Filosofia e ciências Humanas, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            José Vicente Hallak D`Angelo</br>
                            Faculdade de Engenharia Química, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            Regina Facchini</br>
                            Instituto de Filosofia e ciências Humanas, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            Teresa Helena Portela Freire de Carvalho</br>
                            Colégio Técnico de Campinas, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                        <li class="list-group-item ">
                            Bruno Akira Watanabe</br>
                            Instituto de Física Gleb Wataghin, Unicamp</br>
                            <a href="# ">Currículo Lattes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

<!-- Histórico-->
<section class="white-section ">
    <div class="container-fluid ">
        <div class="card ">
            <h5 class="card-header ">Histórico</h5>
            <div class="card-body ">
                <p class="card-text ">Em Breve</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}