{% extends "base.html" %}

{% block page_content %}

        <div class="mw6 center pa3 sans-serif">

            <h1 class="mb4">Teste1: {{ teste1.name | linebreaks }}</h1>

            <header class="b mb2">License: {{ teste1.license }}</header>

        {% for t in teste2 %}

            <div class="pa2 mb3 striped--near-white">

                <div class="pl2">

                    <p class="mb2">Make/Model: {{ t.make }} {{ t.model }}</p>

                    <p class="mb2">Year2: {{ t.year }}</p>

                    <p class="mb2">Vin: {{ t.vin }}</p>

                </div>

            </div>

        {% endfor %}

        </div>

{% endblock %}