{% extends "./base.html" %} {% block content %}
<h1> Violência sexual</h1>
<!-- Missão-->
<section class="white-section">
    <div class="container-fluid">
        <div class="card">
            <h3 class="card-header">Conceitos Fundamentais</h3>
            <div class="card-body">
                <div>
                    <h5>O que é violência sexual?</h5>
                    <p class=card-text>A violência sexual é um problema sério, que afeta a saúde, o bem-estar e a segurança de indivíduos e da sociedade mais geral. Mulheres, mulheres negras, mulheres indígenas e mulheres com necessidades especiais, assim como pessoas cuja
                        identidade ou expressão de gênero não segue as normas dominantes são mais vulneráveis. </p>
                    <p class=card-text>De acordo com a Política da Unicamp, entende-se por violência sexual qualquer ato de natureza sexual ou ato dirigido à sexualidade da pessoa, à sua identidade ou expressão de gênero, de natureza física ou psicológica, que tenha sido
                        cometido, ameaçado ou tentado contra uma pessoa sem o consentimento dessa pessoa, incluindo: </p>
                    <p class=card-text>
                        <b>Assédio Sexual:</b> emissão de comentários, conduta, exposição indecente, voyeurismo ou perseguição vexatórios relacionados com sexo, gênero, orientação sexual, identidade de gênero ou expressão de gênero de uma pessoa, sabendo-se
                        ou sendo razoável supor que seriam indesejáveis. Inclui também:
                        <ol type="i">
                            <li>Publicação, distribuição, transmissão, venda, disponibilização ou divulgação de imagem que implique a sexualidade de uma pessoa sem o consentimento dela</li>

                            <li> Todo ato de constranger alguém, com o intuito de obter vantagem ou favorecimento sexual, prevalecendo-se o agente de sua condição de superior hierárquico ou ascendência inerentes ao exercício de emprego, cargo ou função.</li>
                        </ol>
                    </p>
                    <p class=card-text><b>Assédio Sexual Cibernético:</b> os casos conduzidos inteiramente ou em parte por meio eletrônico, como e-mail, postagens na web, mensagens de texto, e outras formas de atividade eletrônica.</p>
                    <p>
                        <b>Assalto Sexual:</b> qualquer forma de contato sexual sem o consentimento da pessoa envolvida, incluindo a ameaça de contato sexual sem consentimento. Pode variar de toque indesejável até relação sexual forçada. Pode envolver
                        situações em que a atividade sexual é obtida por alguém que abuse de uma posição de confiança, poder ou autoridade.</p>
                </div>
                <div>
                    <h5>Consentimento</h5>
                    <p class=card-text>
                        Um dos conceitos fundamentais da Política de Combate à Violência Sexual na Unicamp é o conceito de CONSENTIMENTO
                    </p>
                    <p>
                        Consentimento é a concordância em se engajar em atividade de natureza sexual dada, de forma clara, consciente e voluntária.
                    </p>
                    <ul>
                        <li>
                            Silêncio, assim como ausência de protesto ou de resistência não constituem consentimento por si só.
                        </li>
                        <li>
                            A existência de um namoro ou o engajamento anterior em práticas de natureza sexual entre as pessoas envolvidas não pode nunca ser por si só tomados como indicador de consentimento.

                        </li>
                        <li>Consentimento pode ser revogado a qualquer momento.</li>
                        <li>
                            Consentimento não pode ser dado quando a pessoa é incapaz de concordar com a atividade como, por exemplo, quando a pessoa está incapacitada por uso de álcool ou drogas, quando está inconsciente, ou quando a atividade de natureza sexual foi induzida por
                            uma conduta que constitui abuso de uma relação de confiança, poder ou autoridade.
                        </li>
                        <li>
                            É responsabilidade de cada um dos envolvidos garantir que obteve o consentimento do outro. Se você não obteve consentimento da outra pessoa, não avance o sinal!
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Politica de Combate-->
<section class="white-section">
    <div class="container-fluid">
        <div class="card">
            <h3 class="card-header">Política de Combate à Violência Sexual </h3>
            <div class="card-body">
                <div class="card-text">
                    <p>A Unicamp, empenhada em garantir a cada membro da universidade condições de estudar e trabalhar em um campus livre de violência sexual está implementando uma Política de Combate à Violência Sexual.</p>
                    <p>*Apresentar a política, diretrizes, frentes de ação.</p>
                    <p>
                        <a href="http://www.direitoshumanos.unicamp.br/sites/default/files/2020-03/fluxo%20SAVS.pdf">Clique Aqui</a> e conheça os procedimentos previstos na política e saiba como proceder diante de um episódio de violência sexual ou de
                        discriminação baseada em gênero e/ou sexualidade na Unicamp.</p>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- Relatórios-->
<section class="white-section">
    <div class="container-fluid">
        <div class="card">
            <h3 class="card-header">Relatórios</h3>
            <div class="card-body">
                <p class="card-text">Em Breve</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}