{% extends "./base.html" %} {% load static %} {% block content %}
<!-- Conceitos Fundamentais-->
<section id="conceitos">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Conceitos Fundamentais</h5>
            <div class="card-body">
                <br>
                <h5>O que é violência sexual?</h5>
                <p> A violência sexual é um problema sério, que afeta a saúde, o bem-estar e a
                    segurança de indivíduos e da sociedade mais geral. Mulheres, mulheres negras, mulheres indígenas
                    e mulheres com necessidades especiais, assim como pessoas cuja
                    identidade ou expressão de gênero não segue as normas dominantes são mais vulneráveis. </p>

                <p> De acordo com a Política da Unicamp, entende-se por violência sexual qualquer ato
                    de natureza sexual ou ato dirigido à sexualidade da pessoa, à sua identidade ou expressão de
                    gênero, de natureza física ou psicológica, que tenha sido
                    cometido, ameaçado ou tentado contra uma pessoa sem o consentimento dessa pessoa, incluindo:
                </p>

                <br><br>
                <div class="row" style="margin: auto;">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list"
                                data-toggle="list" href="#list-home" role="tab" aria-controls="home">Assédio
                                Sexual</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                                href="#list-profile" role="tab" aria-controls="profile">Assédio
                                Sexual Cibernético</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                                href="#list-messages" role="tab" aria-controls="messages">Assalto
                                Sexual</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                aria-labelledby="list-home-list">
                                <h6>Assédio Sexual</h6>
                                <p>Emissão de comentários, conduta, exposição indecente, voyeurismo ou
                                    perseguição vexatórios relacionados com sexo, gênero, orientação sexual,
                                    identidade
                                    de gênero ou
                                    expressão de gênero de uma pessoa, sabendo-se
                                    ou sendo razoável supor que seriam indesejáveis. Inclui também:
                                <ol type="i">
                                    <li>Publicação, distribuição, transmissão, venda, disponibilização ou divulgação
                                        de imagem que
                                        implique a sexualidade de uma pessoa sem o consentimento dela</li>

                                    <li> Todo ato de constranger alguém, com o intuito de obter vantagem ou
                                        favorecimento sexual,
                                        prevalecendo-se o agente de sua condição de superior hierárquico ou
                                        ascendência inerentes ao
                                        exercício de emprego, cargo ou função.</li>
                                </ol>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                aria-labelledby="list-profile-list">
                                <h6>Assédio Sexual Cibernético</h6>
                                <p> Os casos conduzidos inteiramente ou em parte
                                    por meio eletrônico, como e-mail, postagens na web, mensagens de texto, e outras
                                    formas de
                                    atividade eletrônica.</p>

                            </div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                aria-labelledby="list-messages-list">
                                <h6>Assalto Sexual</h6>
                                <p>
                                    Qualquer forma de contato sexual sem o consentimento da pessoa envolvida,
                                    incluindo a ameaça de contato sexual sem consentimento. Pode variar de toque
                                    indesejável até
                                    relação sexual forçada. Pode envolver
                                    situações em que a atividade sexual é obtida por alguém que abuse de uma posição
                                    de confiança,
                                    poder ou autoridade.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>

                <h5>Consentimento</h5>
                <p>
                    Um dos conceitos fundamentais da Política de Combate à Violência Sexual na Unicamp é o conceito
                    de CONSENTIMENTO
                </p>
                <p>
                    Consentimento é a concordância em se engajar em atividade de natureza sexual dada, de forma
                    clara, consciente e voluntária.
                </p>
                <ul>
                    <li>
                        Silêncio, assim como ausência de protesto ou de resistência não constituem consentimento por
                        si só.
                    </li>
                    <li>
                        A existência de um namoro ou o engajamento anterior em práticas de natureza sexual entre as
                        pessoas envolvidas não pode nunca ser por si só tomados como indicador de consentimento.

                    </li>
                    <li>Consentimento pode ser revogado a qualquer momento.</li>
                    <li>
                        Consentimento não pode ser dado quando a pessoa é incapaz de concordar com a atividade como,
                        por exemplo, quando a pessoa está incapacitada por uso de álcool ou drogas, quando está
                        inconsciente, ou quando a atividade de natureza sexual foi induzida por
                        uma conduta que constitui abuso de uma relação de confiança, poder ou autoridade.
                    </li>
                    <li>
                        É responsabilidade de cada um dos envolvidos garantir que obteve o consentimento do outro.
                        Se você não obteve consentimento da outra pessoa, não avance o sinal!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Politica de Combate-->
<section id="politica">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Política de Combate à Violência Sexual </h5>
            <div class="card-body">
                <div class="card-text">
                    <p>A Unicamp, empenhada em garantir a cada membro da universidade condições de estudar e trabalhar
                        em um campus livre de violência sexual está implementando uma Política de Combate à Violência
                        Sexual.</p>
                    <p>*Apresentar a política, diretrizes, frentes de ação.</p>
                    <p> Conheça abaixo os procedimentos previstos na política e saiba como proceder diante de um
                        episódio de violência sexual ou de discriminação baseada em gênero e/ou sexualidade na Unicamp:
                    </p>

                </div>
            </div>
            <img class="center_img" src="{% static 'images/fluxo.png' %}" alt="" style="max-width: 80%; width: 80%;">
        </div>
    </div>
</section>

<!-- Relatórios-->
<section id="relatorios">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Relatórios</h5>
            <div class="card-body">
                <p class="card-text">Em Breve</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}